keystone.db
Dockerfile
Dockerfile*
docker
compose*
.dockerignore
node_modules
npm-debug.log
README.md
.keystone
.next
.react-email
.turbo
.vscode
.git*
.env*
.env
.env.dev
.env.local
!.env.prod
## do not copy over local .env file
# !.env
db
images
private
.DS_Store
._*