node_modules
.keystone
.next
.react-email
keystone.db
*.log
.env
.env.dev
.env.prod
/db/**
!/db/compose.example.yml
.DS_Store
.next
compose.yml
seed_data.ts
schema.graphql
schema.prisma
.vscode
private/**
!private/README.md