# developer files
node_modules
.keystone
.next
.react-email
.vscode

# Variables
keystone.db
.env
.env.dev
.env.prod
.env.*
!.env.example
/db/**
!/db/compose.example.yml
!/db/up.sh
compose.yml
seed_data.ts

# pages, components, styles
src/styles/vars.scss
src/app/layout.tsx
src/app/home
src/components/menus/Footer.tsx
public/assets/logo.png
public/assets/logo.svg
public/assets/placeholder.png
public/assets/private/*
private/**
!private/README.md

# Garbage
.DS_Store
*.log