section.section {
  display: grid; 
  grid-column: 1/-1;
  gap: 1rem;
  align-content: flex-start;

  // ? maybe do this? idk
  min-height: 50vh;
  min-height: 50dvh;
  position: relative;
  align-content: center;
  
  // > div {
  //   display: grid;
  //   align-content: center;
  //   // height: 50vh;
  //   // height: 50dvh;
  // }

  // // debug
  // > div {
  //   border: dashed grey 1px;
  // }
  
}

@media screen and (width > 650px) {
  
  section.grid_1_1{
  
    grid-template-columns: 
      minmax(0, 1fr) 
      minmax(0, calc(var(--w-sitemax) * 0.5)) 
      minmax(0, calc(var(--w-sitemax) * 0.5)) 
      minmax(0, 1fr)
    ;
  
    > div:first-child {
      grid-column: 2/3;
    }
    > div:last-child {
      grid-column: 3/4;
    }
  }
  
  
  section.grid_1_2 {
  
    grid-template-columns: 
      minmax(0, 1fr) 
      minmax(0, calc(var(--w-sitemax) * 0.3)) 
      minmax(0, calc(var(--w-sitemax) * 0.7)) 
      minmax(0, 1fr)
    ;
  
    > div:first-child {
      grid-column: 2/3;
    }
    > div:last-child {
      grid-column: 3/4;
    }
  }
  
  section.grid_2_1 {
  
    grid-template-columns: 
      minmax(0, 1fr) 
      minmax(0, calc(var(--w-sitemax) * 0.7)) 
      minmax(0, calc(var(--w-sitemax) * 0.3)) 
      minmax(0, 1fr)
    ;
  
    > div:first-child {
      grid-column: 2/3;
    }
    > div:last-child {
      grid-column: 3/4;
    }
  }
  
  section.grid_1_1_1 {  
  
    grid-template-columns: 
      minmax(0, 1fr) 
      minmax(0, calc(var(--w-sitemax) * 0.33)) 
      minmax(0, calc(var(--w-sitemax) * 0.33)) 
      minmax(0, calc(var(--w-sitemax) * 0.33)) 
      minmax(0, 1fr)
    ;
    // grid-template-columns: repeat(3, 1fr);
  
    > div:first-child {
      grid-column: 2/3;
    }
    > div:last-child {
      grid-column: 4/5;
    }
  }
  
  section.grid_1_2_1 {
  
    grid-template-columns: 
      minmax(0, 1fr) 
      minmax(0, calc(var(--w-sitemax) * 0.2)) 
      minmax(0, calc(var(--w-sitemax) * 0.59)) 
      minmax(0, calc(var(--w-sitemax) * 0.2)) 
      minmax(0, 1fr)
    ;
    // grid-template-columns: repeat(3, 1fr);
  
    > div:first-child {
      grid-column: 2/3;
    }
    > div:last-child {
      grid-column: 4/5;
    }
  }
}




// section.grid_1_2_1{
//   background-color: purple;
//   display: grid;
// }
