table.table {
  border-collapse: collapse;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1em;

  a{
    color: var(--c-primary);

    &:hover, &:focus{
      color: var(--c-accent);
    }
  }

  th, td, caption {
    padding: .5rem 1rem;
  }

  caption{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  th {
    text-align: left;
    border-bottom: solid 2px var(--c-primary);
    border-right: solid 1px black;
    color: var(--c-txt);
  }
  tr:nth-of-type(2n) {
    background-color: #9898983b;
  }
  td{
    color: var(--c-txt-dark);
  }

  @media (max-width: 650px) {

    th{
      display: none;
    }

    td{
      display: grid;
      grid-template-columns: 15ch auto;
      gap: .5rem;
      padding: 0.7rem 1rem;
    }

    td:first-child{
      padding-top: 2rem;
    }
    td:last-child{
      padding-bottom: 2rem;
    }

    td::before {
      content: attr(data-cell) ': ';
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  // p.none{
  //   color: var(--c-txt-rev)
  // }
}