.gallery{
  width: 100%;

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // gap: 10px;

  &.masonry{
    a.imgframe{
      width: calc(33.33% - 10px); // Adjust column width and gap as needed
      margin-bottom: 10px;
    }
  }

  a.imgframe{
    overflow: hidden;
  }

  img {
    // border: dashed hotpink 2px;
    width: 100%;
    height: 100%;

    transition: opacity, transform, .3s ease-out;

    &:hover{
      opacity: .8;
      transform: scale(1.02);
    }
  }

  // img.objectContain{
  //   object-fit: contain;
  // }
  // img.objectCover{
  //   object-fit: cover;
  // }
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--c-3);

  a.imgframe {
    width: calc(25% - 10px); // Adjust column width and gap as needed
    // margin-bottom: 10px;
  }
}