/* .row_graphic {
	grid-row-start: graphic-start;
	grid-row-end: graphic-end;
	margin-bottom: calc(var(--space-m) * -1);
} */

article.post_card {
	background-color: var(--c-txt-bg);
	padding: var(--space-m);
	border: solid 1px var(--c-seperator);
	position: relative;
	display: grid;
	gap: var(--space-ms);
	grid-template-areas:
		"graphic"
		"header"
		"excerpt"
		"footer";
	grid-template-rows: auto minmax(3rem, auto) 1fr;
	height: 100%;
	box-sizing: border-box;

	& figure {
		grid-area: graphic;
	}
	& > header {
		grid-area: header;
    align-content: end;
	}
	& > p {
		grid-area: excerpt;
		height: 100%;
    margin: 0;
	}
	& > footer {
    grid-area: footer;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: var(--space-ms);
		justify-content: space-between;
		align-items: center;
		margin-top: var(--space-m);

    /* TODO for somereason effects `read more` button */
		/* & data {
			font-size: 2rem;
		} */

		& > div {
			width: 100%;
		}
	}

	& figure {
		padding: 0;
		margin: 0;
		aspect-ratio: 1/1;
		overflow: hidden;
		height: 100%;
		width: calc(100% + calc(var(--space-m) * 2));
		margin-inline: calc(var(--space-m) * -1);
		margin-top: calc(var(--space-m) * -1);
		margin-bottom: calc(var(--space-m) * -1);

		& > img {
			width: 100%;
			height: 100%;
			max-width: 100%;
			object-fit: cover;
			box-sizing: border-box;
		}
	}

	& a:has(h3) {
		text-decoration: none;
	}

	& h3 {
		margin: 0;
    margin-bottom: var(--space-s);
		color: inherit;
		word-wrap: break-word;
		overflow: hidden;
		-webkit-line-clamp: 3;
		line-clamp: 3;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		padding-bottom: var(--space-xxs);
		/* font-size: clamp(
			1rem * (var(--font-size-multi) * 2),
			1rem + 0.7vw,
			1rem * (var(--font-size-multi) * 3)
		); */
	}
}

.read_more {
  margin-left: auto;
}

.meta {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-ms);
	color: var(--c-txt-sub);

	& span {
		display: flex;
		align-items: center;
	}

	& li {
		display: flex;
		align-items: center;
	}
}
.featured_image img {
	transition-duration: var(--anim-duration-fast);
	transition-property: filter;
}
.featured_image img:hover {
	filter: contrast(1.2);
}

.excerpt {
	flex-grow: 1;
	word-wrap: break-word;
	overflow: hidden;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.list {
  display: grid;
  grid-template-rows: var(--row-template, repeat(4, auto));
  /* --row-template: auto auto 1fr auto; */
	& > li {
    display: grid;
		grid-template-rows: subgrid;
    grid-row: span 4;
    gap: var(--space-ms);

    & > article {
      /* display: contents; */
      grid-row: span 4;
      grid-template-rows: subgrid;
    }
	}
}
