// ul.list {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(calc(18rem), 1fr));
//   gap: var(--space-m);
// }

article.post_card {
  // border: dashed red 5px;
  background-color: var(--c-txt-bg);
  padding: var(--space-m);
  margin: var(--space-ms);
  border: solid 1px var(--c-seperator);

  figure {
    margin-bottom: 0;
    margin-top: calc(var(--space-m) * -1);
    margin-inline: calc(var(--space-m) * -1);
    padding: 0;

    a {
      display: inline-block;
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      object-fit: cover;
      box-sizing: border-box;
    }
  }

  a:has(h3){
    text-decoration: none;
  }

  h3 {
    color: inherit;
    font-size: clamp(1rem * (var(--font-size-multi) * 2), 1rem + 0.7vw, 1rem * (var(--font-size-multi) * 3));
  }
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-ms);
  padding-bottom: var(--space-m);
  color: var(--c-txt-sub);

  span {
    display: flex;
    align-items: center;
  }
}
.featured_image img{
  transition-duration: var(--anim-duration-fast);
  transition-property: filter;
}
.featured_image img:hover {
  filter: contrast(1.2);
}