.card{
  background-color: var(--c-txt-bg);
  padding: 1rem;
  margin-inline: 3px;
  border-radius: var(--br-dull);
  // height: 100%;
  display: flex;
  // flex-direction: column;
  // width: fit-content;

}
.row{
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.card > *:first-child {
  margin-top: 0;
}

.center{
  display: grid;
  align-content: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  > div {
    display: grid;
    align-content: center;
  }
}
// .card > *:last-child {
//   margin-bottom: 0;
// }