.error {
  background-color: rgb(184, 1, 1);
  color: white;
  padding-inline: 5px;
  width: fit-content;
  padding: 0 1rem;
}

.success {
  background-color: green;
  color: white;
  padding-inline: 5px;
  width: fit-content;
  padding: 0 1rem;
}

.subtext{
  color: var(--c-txt-sub)
}

hr {
  border-color: var(--c-desaturated);
}

h1, h2, h3, h4, h5, h6 {
  transition-property: background, color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}

.glass {
  background-color: var(--c-glass);
  backdrop-filter: blur(1px);
}

.overlay{
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--c-overlay);
  }
}