table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: var(--space-m);
}
thead th {
	border-bottom-width: 3px;
}
tbody td {
	border-bottom-width: 1px;
}
th,
td {
	padding: var(--space-m);
	text-align: left;
	border-bottom-style: solid;
	// border-bottom-width: 1px;
	border-bottom-color: var(--c-seperator);
}
th:first-child,
td:first-child {
	padding-left: 0;
}
th:last-child,
td:last-child {
	padding-right: 0;
}

hr {
	// margin: 4rem auto;
	max-width: var(--w-sitemax);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	margin-block: var(--space-l);
	width: 90%;
}

// // form
// ul.radio {
// 	display: flex;
// 	flex-direction: column;
// 	gap: 1rem;
// 	padding: 0;

// 	.current {
// 		text-decoration: underline;
// 	}
// }

// fieldset {
// 	margin: 1rem 0;
// 	border-color: var(--c-glass);
// }

// a {
// 	width: fit-content;
// }

// img {
// 	font-style: italic;
// 	color: var(--c-txt-sub);
// }

ul.unstyled {
	list-style: none;
	padding: 0;
}

// ul,
// ol {
// 	// padding-left: 1rem;
// 	display: grid;
// 	gap: 0.5rem;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
// 	&:empty {
// 		display: none;
// 	}
// }

// button {
// 	cursor: pointer;
// 	transition-property: color, background-color, filter;
// 	transition-duration: 0.3s;
// 	background-color: var(--c-body);
// 	color: var(--c-txt);
//   border: solid 2px var(--c-seperator);
//   border-radius: var(--br-dull);

// 	> span {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 	}
// }

.button {
	border-radius: var(--br-dull);
	border: solid 1px var(--c-primary);
	padding-inline: 1rem;
	transition: all 0.3s;
	display: grid;
	justify-content: space-evenly;
	align-content: center;

	span {
		display: flex;
		gap: 1rem;
		justify-content: space-around;
	}

	&.medium {
		padding: 0.5rem 1rem;
		font-size: 1.3rem;
	}

	&.large {
		padding: 1rem;
		font-size: 1.3rem;
	}

	// 	&:hover,
	// 	&:focus {
	// 		// background-color: var(--c-primary);
	// 		border: solid 1px var(--c-accent);
	// 		color: var(--c-txt-light);
	// 	}

	// 	&:active {
	// 		color: var(--c-accent);
	// 		background-color: var(--c-txt);
	// 		border: solid 1px var(--c-accent);
	// 	}
	// }

	// .button:disabled {
	// 	background-color: var(--c-disabled);
	// 	border-color: var(--c-disabled);

	// 	&:hover,
	// 	&:focus {
	// 		text-decoration: line-through;
	// 		// background-color: var(--c-primary);
	// 		// color: var(--c-txt-rev);
	// 	}

	// 	&:active {
	// 		color: var(--c-txt-rev);
	// 		background-color: var(--c-disabled);
	// 		border: solid 1px var(--c-disabled);
	// 	}
}

// .mtauto {
// 	margin-top: auto;
// }

// // * FORMS

// label:has(input[type="checkbox"]) {
// 	display: flex;
// 	align-items: center;
// 	gap: 0.3rem;
// }

// input[type="checkbox"] {
// 	appearance: none;
// 	position: relative;
// 	display: inline-block;
// 	border: solid 3px var(--c-primary);
// 	height: 1.5rem;
// 	width: 1.5rem;
// 	vertical-align: middle;
// 	border-radius: 2rem;
// 	box-shadow: 0px 1px 3px #0003 inset;
// 	transition: 0.1s linear background;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }
// input::before {
// 	content: "";
// 	display: block;
// 	width: 1.02rem;
// 	height: 1.02rem;
// 	background: #fff;
// 	border-radius: 1.2rem;
// 	position: absolute;
// 	// top: 2px;
// 	// left: 2px;
// 	box-shadow: 0px 1px 3px #0003;
// 	transition: 0.1s linear transform;
// 	transform: scale(0);
// }

// input:checked {
// 	border-color: var(--c-accent);

// 	&::before {
// 		background: var(--c-accent);
// 	}
// }
// input:checked::before {
// 	transform: scale(0.8);
// }

// textarea {
// 	min-height: 6rem;
// 	max-width: 75ch;
// }

// pre {
// 	padding: 1rem;
// 	background-color: var(--c-desaturated);
// }

// TODO why are checkbox input types auto made to be 'readonly'?
// input:read-only {
//   cursor: not-allowed;
//   border-color: var(--c-disabled);
//   color: var(--c-disabled);
// }

form,
fieldset {
	padding: var(--space-m);
	display: grid;
	gap: var(--space-ms);

	input,
	select,
	textarea {
		max-width: 45ch;
	}

	label {
		// display: grid;
		gap: var(--space-ms);
	}
	label:has(
			input[type="email"],
			input[type="number"],
			input[type="search"],
			input[type="text"],
			input[type="tel"],
			input[type="url"],
			input[type="password"],
			textarea,
			select
		) {
		display: grid;
	}

	label:has(input[type="checkbox"], input[type="radio"]) {
		display: flex;
		align-content: center;
		cursor: pointer;

		input {
			width: var(--space-ml);
		}
	}
}
input[type="checkbox"],
input[type="radio"],
select {
	cursor: pointer;
}

legend {
	font-weight: bold;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: var(--space-l);
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	border-radius: var(--br-dull);
	border-width: 1px;
	border-color: var(--c-seperator);
	box-shadow: var(--shadow-1);
	box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	min-height: 8em;
	padding-top: 6px;
	padding-bottom: 6px;
}
label,
legend {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 600;
}
fieldset {
	padding: 0;
	margin-bottom: var(--space-ml);
	border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

blockquote {
	display: grid;
	align-items: center;
	border-left: 5px solid var(--c-primary);
	padding: 8px 24px;
	margin-left: var(--space-m);

	:last-child {
		margin-bottom: 0;
	}
}

:is(h1, h2, h3, h4, h5, h6).targeted, 
:is(h1, h2, h3, h4, h5, h6):target {
	scroll-margin-top: var(--space-xl);
	position: relative;

	&::after {
		content: "";
		width: 100%;
		height: var(--space-s);
		background-color: var(--c-accent);
		background: linear-gradient(-55deg, transparent, var(--c-accent));
		position: absolute;
		bottom: 0%;
		left: 0;
		z-index: 0;
		opacity: 1;
	}
}
