table {
  
  td{
    text-align: start;
    vertical-align: top;
    padding: .5rem;
  }

  ul{
    padding-inline: 1rem;
    margin: 0;
  }
}

hr {
  margin: 4rem auto;
  max-width: var(--w-sitemax);
}

// form
ul.radio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;

  .current{
    text-decoration: underline;
  }
}

fieldset {
  margin: 1rem 0;
}

a {
  width: fit-content;
}

img {
  font-style: italic;
  color: var(--c-txt-sub);
}

ul.unstyled{
  padding-inline: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  &:empty {
    display: none;
  }
}

button {
  cursor: pointer;
  transition-property: color, background-color, filter;
  transition-duration: .3s;
  
  > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button {
  border-radius: var(--br-dull);
  border: solid 1px var(--c-primary);
  // background-color: var(--c-primary);
  padding-inline: 1rem;
  transition: all .3s;
  // display: grid;
  // align-content: center;
  // text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-content: center;

  &.large {
    padding: 1rem;
    font-size: 1.3rem;
  }

  &:hover, &:focus{
    background-color: var(--c-primary);
    color: var(--c-txt-rev);
  }

  &:active{
    color: var(--c-accent);
    background-color: var(--c-txt-rev);
    border: solid 1px var(--c-accent);
  }
}

.button:disabled {
  background-color: var(--c-disabled);
  border-color: var(--c-disabled);

  &:hover, &:focus{
    text-decoration: line-through;
    // background-color: var(--c-primary);
    // color: var(--c-txt-rev);
  }

  &:active{
    color: var(--c-txt-rev);
    background-color: var(--c-disabled);
    border: solid 1px var(--c-disabled);
  }
}

.mtauto {
  margin-top: auto;
}