.footer{
  padding-top: var(--space-l);
  margin-top: var(--space-xl);
  background-color: var(--c-footer);
  
  position: sticky;
  top: 100%;
  color: var(--c-text-sub);
}

.terms_privacy_list {

  display: flex;
  flex-wrap: wrap;
  grid-area: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;

  & li::after{
    content: "•";
    color: var(--c-dark);
    margin-inline: 0.5rem;
  }
  & li:last-child::after{
    content: "";

  }
}