@import './vars.scss';
@import './colors.scss';
@import './layout.scss';
@import './typography.scss';
@import './elements.scss';
@import './animations.scss';
// @import './blockrenderer.scss';
@import './skeleton/normalize.scss';


html{
  height: 100%;
  scroll-padding-top: 4rem;
}
body{
  min-height: 100%;
}

html,
body {
  max-width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // todo stops scrolling, but may hide overflow elements
  /* overflow-x: hidden; */
}

// https://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

// body {
//   background: var(--c-body);
//   // background: var(--cg-dark);
//   // background: url('../public/assets/tiles/tile-dark-sqrs.webp');
//   background-attachment: fixed;
//   background-position: center;
//   // background: linear-gradient(
//   //     to bottom,
//   //     transparent,
//   //     rgb(var(--background-end-rgb))
//   //   )
//   //   rgb(var(--background-start-rgb));
// }


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


// a{
//   color: var(--c-primary);
//   text-decoration-color: rgba(128, 128, 128, 0.478);
//   border-bottom: dotted 1px transparent;
//   transition-property: color, border;
//   transition-duration:  .3s;

//   &:hover, &:focus{
//     color: var(--c-accent);
//     border-bottom: dotted 1px var(--c-accent);
//   }
// }

// span[aria-disabled='true'], a[aria-disabled='true'], button[aria-disabled='true']  {
//   color: var(--c-disabled);
//   pointer-events: unset;
//   cursor: not-allowed;
// }

// input, button, a {
//   &:disabled{
//     cursor: not-allowed;
//     border-color: var(--c-disabled) !important;
//     background-color: var(--c-disabled);
//   }
// }

// input:hover, select:hover {
//   cursor: pointer;
// }