.grid {
    display: grid;
    grid-column: 1/-1;
    gap: 1rem;
    align-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    align-content: center;
    
    grid-template-columns: 
      minmax(0, 1fr) 
      minmax(0, calc(var(--w-sitemax) + 1rem)) 
      minmax(0, 1fr)
    ;
    
    > div {
      grid-column: 2/3;
      display: grid;
    }
  }
  
  // @media screen and (width > 829px) and (width < 1617px) {
  //   section.section {
  //     gap: 1rem;
  //   }
  // }
  
  @media screen and (width > 650px) {
    
    .grid._1{
    
      grid-template-columns: 
        minmax(0, 1fr) 
        minmax(0, calc(var(--w-sitemax) + 1rem)) 
        minmax(0, 1fr)
      ;
    
      > div {
        grid-column: 2/3;
  
        // todo could mess up document rich text
        // > ul, > li {
        //   padding-left: 1.5rem;
        // }
      }
    }
  
    .grid._1_1{
    
      grid-template-columns: 
        minmax(0, 1fr) 
        minmax(0, calc(var(--w-sitemax) * 0.5 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.5 + 1rem)) 
        minmax(0, 1fr)
      ;
    
      > div:first-child {
        grid-column: 2/3;
      }
      > div:last-child {
        grid-column: 3/4;
      }
    }
    
    
    .grid._1_2 {
    
      grid-template-columns: 
        minmax(0, 1fr) 
        minmax(0, calc(var(--w-sitemax) * 0.3 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.7 + 1rem)) 
        minmax(0, 1fr)
      ;
    
      > div:first-child {
        grid-column: 2/3;
      }
      > div:last-child {
        grid-column: 3/4;
      }
    }
  
    .grid._1_4 {
    
      grid-template-columns: 
        minmax(0, 1fr) 
        minmax(0, calc(var(--w-sitemax) * 0.2 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.8 + 1rem)) 
        minmax(0, 1fr)
      ;
    
      > div:first-child {
        grid-column: 2/3;
      }
      > div:last-child {
        grid-column: 3/4;
      }
    }
    
    .grid._2_1 {
    
      grid-template-columns: 
        minmax(0, 1fr) 
        minmax(0, calc(var(--w-sitemax) * 0.7 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.3 + 1rem)) 
        minmax(0, 1fr)
      ;
    
      > div:first-child {
        grid-column: 2/3;
      }
      > div:last-child {
        grid-column: 3/4;
      }
    }
    
    .grid._1_1_1 {  
    
      grid-template-columns: 
        minmax(0, 1fr) 
        minmax(0, calc(var(--w-sitemax) * 0.33 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.33 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.33 + 1rem)) 
        minmax(0, 1fr)
      ;
      // grid-template-columns: repeat(3, 1fr);
    
      > div:first-child {
        grid-column: 2/3;
      }
      > div:nth-child(2) {
        grid-column: 3/4;
      }
      > div:last-child {
        grid-column: 4/5;
      }
    }
  
    .grid._1_1_1_1 {  
    
      grid-template-columns: 
        minmax(0, 1fr) 
        minmax(0, calc(var(--w-sitemax) * 0.5 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.5 + 1rem)) 
        minmax(0, 1fr)
      ;
      // grid-template-columns: repeat(3, 1fr);
    
      > div:first-child {
        grid-column: 2/3;
      }
      > div:nth-child(2) {
        grid-column: 3/4;
      }
      > div:nth-child(3) {
        grid-column: 2/3;
      }
      > div:last-child {
        grid-column: 3/4;
      }
    }
    
    .grid._1_2_1 {
    
      grid-template-columns: 
        minmax(0, 1fr) 
        minmax(0, calc(var(--w-sitemax) * 0.2 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.59 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.2 + 1rem)) 
        minmax(0, 1fr)
      ;
      // grid-template-columns: repeat(3, 1fr);
    
      > div:first-child {
        grid-column: 2/3;
      }
      > div:nth-child(2) {
        grid-column: 3/4;
      }
      > div:last-child {
        grid-column: 4/5;
      }
    }
  }
  
  @media screen and (width > 900px) {
    .grid._1_1_1_1 {  
    
      grid-template-columns: 
        minmax(0, 1fr) 
        minmax(0, calc(var(--w-sitemax) * 0.25 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.25 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.25 + 1rem)) 
        minmax(0, calc(var(--w-sitemax) * 0.25 + 1rem)) 
        minmax(0, 1fr)
      ;
      // grid-template-columns: repeat(3, 1fr);
    
      > div:first-child {
        grid-column: 2/3;
      }
      > div:nth-child(2) {
        grid-column: 3/4;
      }
      > div:nth-child(3) {
        grid-column: 4/5;
      }
      > div:last-child {
        grid-column: 5/6;
      }
    }
  
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .gap_1 {
    gap: 1rem;
  }