.img {
	width: 100%;
	height: auto;
}

.image_wrap {
	/* //TODO how to fit caption perfectly underneight image but also dynamically expand on all screen sizes */

	margin-inline: 0;
	margin-block: var(--space-l);

	& img {
		width: 100%;
		height: auto;
		max-height: 60vh;
		object-fit: contain;
		filter: drop-shadow(var(--shadow-3));
	}
}

/* figcaption */
.image_caption {
	--display-caption: visible;
	padding-block: var(--space-ms);
	display: block;
	width: 100%;
	max-width: 45ch;
	margin-inline: auto;
	/* display: var(--display-caption); */
	visibility: var(--display-caption);
	display: block;
	position: relative;

	&::before {
		content: "↳ ";
		color: var(--c-seperator);
		position: absolute;
		left: calc(var(--space-ml) * -1);
		top: var(--space-ms);
	}

	&:empty {
		padding: 0;

		&::before {
			content: "";
			width: 0;
			height: 0;
		}
	}
}
