/* //todo move this to var.scss file */
/* $sidebar-breakpoint: 1185px; */

.page_layout {
	/* // todo the `150px` is a magic number cheat because it ended up being too wide. idk why */
	--site-max-width: (calc(var(--w-sitemax) - 150px));
	--content-max-width: var(--w-contentmax);
	--padding-inline: var(--space-m);

	--sidebar-width: calc(var(--sidebar-width-footprint) / 2);

	--site-bounds: calc((var(--site-max-width) - var(--w-content-wide)) / 2);
	--wide-size: calc((var(--w-content-wide) - var(--content-max-width)) / 2);
	--breakout-size: calc((var(--w-content-breakout) - var(--content-max-width)));

	display: grid;
	/* row-gap: var(--space-m); */

	/* //? if you update this don't forget about the media query below
  //todo maybe add a [layout_sidebar] as to propery set gaps and stuff */
	grid-template-columns:
		[layout_full-start] minmax(var(--padding-inline), 1fr)
		[layout_site-start] minmax(0, var(--site-bounds))
		[layout_wide-start] minmax(0, var(--wide-size))
		[layout_breakout-start] minmax(0, var(--breakout-size))
		[layout_content-start] min(
			100% - (var(--padding-inline) * 2),
			var(--content-max-width)
		)
		[layout_content-end] minmax(0, var(--breakout-size))
		[layout_breakout-end] minmax(0, var(--wide-size))
		[layout_wide-end] minmax(0, var(--site-bounds))
		[layout_site-end] minmax(var(--padding-inline), 1fr)
		[layout_full-end];
}

.page_layout > header {
	grid-column: 1/-1;
	grid-row: 1;
	/* grid-template-columns: subgrid; */
	/* text-align: center; */
	padding-top: 10vw;
	/* border-bottom: solid 1px var(--c-seperator); */
	/* padding-top: var(--space-l); */
}

.layout_full,
.layout_site,
.layout_wide,
.layout_breakout {
	display: grid;
	grid-template-columns: subgrid;
}

.layout_hidden {
	display: none;
}

.page_layout > header:has(h1:has(.layout_hidden)) hr {
	display: none;
}
.page_layout > header > .page_title {
	grid-column: layout_wide;
}

/* TODO how do i keep footer always just below view */
main.page_layout {
	min-height: 70vh;
	min-height: 70dvh;
}

/* how am i gonna fix this? */
/* .page_content {
  & > :is(ul, nav, div){
    grid-column: layout_site;
  }
} */

.page_layout > .page_content {
	grid-row: 2;
	grid-column: layout_full;
	/* //TODO why does this break a lot of the layouts? */
	/* ? use subgrid instead of inherit. inherit created a copied nested grid. subgrid follows the parent grid exactly */
	display: grid;
	grid-template-columns: subgrid;
}

.page_layout > aside,
.page_layout > .page_sidebar {
	grid-column: layout_content;
	grid-row: 4;
	z-index: 1;

	& > :first-child {
		position: sticky;
		top: var(--space-xl);
		max-width: var(--w-contentmax);
	}

	& > * > * {
		box-shadow: var(--shadow-1);
	}
}

.page_layout > footer {
	grid-column: layout_wide;
	grid-row: 3;
	/* grid-template-columns: subgrid; */
}

.page_layout,
/* //TODO i removed `>` direct selector, could mess up a bunch of other stuff idk */
.layout_full,
.layout_site,
.page_content {
	&
		> :is(
      .layout_site,
			:global(.flex),
			:global(.grid),
			table
			/* div:not(.page_content) */
		) {
		grid-column: layout_site;
	}
	& > :is(figure, img, article, iframe, div:global(.mediatext)) {
		grid-column: layout_wide;
	}
	/* //? must target with `:global` as to not get hash id */
	&
		> :is(
			blockquote,
			pre,
			div:global(.gallery),
			div:global(.card),
			div:global(.youtubeVideo)
		) {
		grid-column: layout_breakout;
		margin-block: var(--space-l);
	}

	&
		> :is(
			.layout_content,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			span,
			ul,
			ol,
			form,
			nav,
			a,
			button
		) {
		grid-column: layout_content;
	}
}

/* TODO kinda ugly duplication just to make sure nothing spills out of `layout_wide` */
.page_layout .layout_wide {
	& > :is(:global(.flex), :global(.grid), table, div) {
		grid-column: layout_wide;
	}
	& > :is(figure, img, article, iframe, div:global(.mediatext)) {
		grid-column: layout_wide;
	}
	/* //? must target with `:global` as to not get hash id */
	&
		> :is(
			blockquote,
			pre,
			div:global(.gallery),
			div:global(.card),
			div:global(.youtubeVideo)
		) {
		grid-column: layout_breakout;
		margin-block: var(--space-l);
	}

	&
		> :is(
			.layout_content,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			span,
			ul,
			ol,
			form,
			nav,
			a,
			button
		) {
		grid-column: layout_content;
	}
}

.page_layout > .layout_full:not(:global(.flex), figure, img, nav),
.page_layout > .layout_site_to_wide:not(:global(.flex), figure, img),
.page_layout > .layout_wide:not(:global(.flex), figure, img) {
	display: grid;
}
.layout_site > div:not([class]),
.layout_full > div:not([class]) {
	grid-column: layout_wide;
}

/* //todo use to have direct `>` selector, but is more flexible if not */
.page_layout .layout_full {
	grid-column: layout_full;
	/* grid-template-columns: subgrid; */
}

.page_layout .layout_site {
	z-index: 1;
	grid-column: layout_site;
}
.page_layout .layout_wide {
	z-index: 1;
	grid-column: layout_wide;
}

.page_layout .layout_breakout {
	z-index: 1;
	grid-column: layout_breakout;
}

.page_layout .layout_content {
	z-index: 1;
	grid-column: layout_content;
}

.page_title {
	grid-column: layout_wide;
}

/* asymetcial layouts */
.page_layout .layout_site_to_wide {
	grid-column: layout_site;
}

.page_layout hr {
	grid-column: layout_content;
}

@media screen and (width > 1185px) {
	.page_layout:has(> aside, > .page_sidebar) {
		grid-template-columns:
			[layout_full-start] minmax(0, 1fr)
			[layout_site-start] minmax(
				0,
				calc(var(--site-bounds) - var(--sidebar-width))
			)
			[layout_wide-start] minmax(0, calc(var(--wide-size)))
			[layout_breakout-start] minmax(0, calc(var(--breakout-size)))
			[layout_content-start] min(
				100% - (var(--padding-inline) * 2),
				var(--content-max-width)
			)
			[layout_content-end] minmax(0, calc(var(--breakout-size)))
			[layout_breakout-end] minmax(0, calc(var(--wide-size)))
			[layout_wide-end] minmax(
				0,
				calc(var(--site-bounds) + var(--sidebar-width))
			)
			[layout_site-end] minmax(0, 1fr)
			[layout_full-end];
	}
	.page_layout > aside,
	.page_layout > .page_sidebar {
		max-width: var(--sidebar-comp-max-width);
		grid-column: layout_wide-end/layout_full-end;
		grid-row: 2;
	}

	/* asymetcial layouts */
	.page_layout .layout_site_to_wide {
		grid-column: layout_site/layout_wide;
	}
}

.grid {
	display: grid;
}

.grid.auto {
	/* //? this is set on the component side via inline style
	// --col-min-width: 22rem; */
	grid-template-columns: repeat(
		auto-fill,
		minmax(calc(var(--col-min-width)), 1fr)
	);

	& > * {
		grid-column: auto;
	}
}

.sticky_aside {
	position: sticky;
	top: var(--space-xl);
  height: fit-content;
}
