.linkWicon {
  display: flex !important;
  gap: var(--space-ms);
  flex-wrap: wrap;
}

.nav {

  backdrop-filter: blur(10px);
  background-color: var(--c-nav);
  width: 100%;
  position: relative;

  & ul {
    padding: 0;
    margin: 0;
    list-style: none;

   & li{
      display: flex;
      flex-direction: column;
    }

  }
}

.utility{
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

 & > li {
    height: 100%;

   & > button {
      height: 100%;
      border: none;
      background-color: transparent;
      color: var(--c-txt);

      &:hover, &:active {
        color: var(--c-primary);
      }
    }
  }

  & svg {
    font-size: 2rem;
  }
}

ul.menu_main {

  display: flex;
  border-radius: 0 0 var(--br-dull) var(--br-dull);

  flex-direction: column;
  position: absolute;
  top: 100%;
  background-color: var(--c-txt-bg);
  width: 100%;
  /* //TODO need better way of setting height without f'ing up mobile drawer */
  /* height: 100%; */
  transition-property: max-height, background;
  transition-duration: .7s;

  max-height: 0;
  overflow: hidden;
  
}

ul.open {
  max-height: 70vh;
}

.navlink {

  padding: 1rem;
  display: inline-block;
  transition-property: color, background, border;
  transition-duration: .2s;
  transition-timing-function: linear;
  display: grid;
  place-items: center;
  flex-grow: 1;
  border-bottom: solid 1px transparent;
  text-decoration: none;
  color: inherit;

  &:hover, &:focus{
    border-bottom: solid 1px var(--c-accent);
    color: var(--c-accent);
  }

  & span {
    text-decoration: none;
  }
}

button.navwich {
  border: none;
  font-size: 3rem;
  display: grid;
  align-content: center;
  background-color: transparent;
  color: var(--c-txt);
  &:hover, &:active {
    color: var(--c-primary);
  }
}

/* //todo stop it from revealing and animating during breakpoint switch */
@media screen and (width > 600px) {
  ul.menu_main {
    flex-direction: row;
    max-width: fit-content;
    max-height: 50vh;
    position: initial;
    background-color: transparent;
  }

  button.navwich {
    display: none;
  }
}

/* // link or button */
.active {
  color: var(--c-primary) !important;
}

@media screen and (width < 600px) {
  .desktop_label {
    display: none;
  }
}