/* // Fonts
//? font-size, correctional spacing,
// ! all colors are done in `colors.css`  */

html {
	font-size: var(--font-size-base);
}

body {
	font-family: var(--font-paragraph), Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
thead,
button {
	font-family: var(--font-header), Verdana, sans-serif;
	word-break: break-word;
	text-wrap: balance;
}

h1 {
	font-size: clamp(
		1rem * (var(--font-size-multi) * 3),
		1rem + 5.246vw,
		1rem * (var(--font-size-multi) * 6)
	);
	font-weight: 900;
	line-height: 1;
}
h2 {
	font-size: clamp(
		1rem * (var(--font-size-multi) * 2),
		1rem + 5.246vw,
		1rem * (var(--font-size-multi) * 5)
	);
	font-weight: 900;
	line-height: 1;
}
h3 {
	font-size: clamp(
		1rem * (var(--font-size-multi) * 2),
		1rem + 5.246vw,
		1rem * (var(--font-size-multi) * 4)
	);
	font-weight: 900;
	margin-top: var(--space-m);
	margin-bottom: var(--space-ms);
	line-height: 1;
}
h4 {
	font-size: clamp(
		1rem * (var(--font-size-multi) * 2),
		1rem + 5.246vw,
		1rem * (var(--font-size-multi) * 3)
	);
	font-weight: 750;
	margin-top: var(--space-m);
	margin-bottom: var(--space-s);
	line-height: 1;
}
h5 {
	font-size: clamp(
		1rem * (var(--font-size-multi) * 1),
		1rem + 5.246vw,
		1rem * (var(--font-size-multi) * 2)
	);
	font-weight: 600;
	margin-top: var(--space-m);
	margin-bottom: var(--space-xs);
	line-height: 1;
}
h6 {
	font-size: clamp(
		1rem * (var(--font-size-multi) * 1),
		1rem + 5.246vw,
		1rem * (var(--font-size-multi) * 1)
	);
	font-weight: 550;
	margin-top: var(--space-ms);
	margin-bottom: var(--space-xs);
	line-height: 1;
}
:is(h1, h2, h3, h4, h5, h6):has(+ hr) {
	margin-bottom: 0;
}
:is(h1, h2, h3, h4, h5, h6):has(+ .sub-text) {
	margin-bottom: var(--space-s);
}

:is(h1, h2, h3, h4, h5, h6) + .sub-text {
	margin-bottom: var(--space-ml);
}

p,
ul,
ol {
	margin-top: 0;
}
ul:not([class]),
ol:not([class]) {
	padding-left: var(--space-xl);
	> li:not([class]) {
		margin-bottom: var(--space-s);
	}
}

li > ul {
	margin-top: var(--space-s);
}

p {
	max-width: var(--w-contentmax);
}

p,
ul,
ol {
	font-size: clamp(1rem, 1rem + 1vw, 1rem * (var(--font-size-multi) * 2));
}

.sub-text {
	font-size: clamp(1rem, 1.4rem + 1vw, 1rem * (var(--font-size-multi) * 1));
}

ul {
	/* //todo how to change color and icon */
	list-style: circle;
	/* list-style-image: url('/marker.svg'); */
}

ul:not([class]),
ol:not([class]) {
	list-style-position: outside;
	padding-left: var(--space-l);
	max-width: calc(var(--w-contentmax) - 20px);
	display: grid;
	gap: var(--space-s);
	align-content: center;
}

strong {
	font-weight: bold;
}
em {
	font-weight: lighter;
}

center {
	width: 100vw;
}

code {
	padding-inline: var(--space-s);
	font-size: 90%;
	white-space: nowrap;
	border-radius: var(--br-dull);
}
pre > code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}

pre {
	overflow: auto;
	padding: var(--space-ml);
}

code,
kbd,
pre,
samp,
data.money {
	font-family: monospace, monospace;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	border-style: solid;
	border-width: 1px;
	margin-right: var(--space-xs);
	display: inline-block;
	text-align: center;
	font-size: 11px;
	letter-spacing: 0.1rem;
	white-space: nowrap;
	border-radius: var(--br-dull);
	cursor: pointer;
	box-sizing: border-box;
	width: fit-content;
	text-decoration: none;
}

.tshadow_1 {
	text-shadow: #000000d9 2px 2px 6px;
}

a:has(svg, span) {
	display: flex;
	gap: var(--space-s);
	align-items: center;
}

[role="doc-subtitle"] {
	display: block;
	color: var(--c-seperator);
	font-size: 4cqh;
}