.text_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition-duration: .3s;
  transition-property: opacity;
}

.signout{
  // background-color: var(--c-dark);
  // color: var(--c-desaturated);
  border-Radius: var(--br-dull);
  // border: none;
  cursor: pointer;

  &:hover, &:focus{
    color: red !important;
  }
}

.opacity_0 {
  opacity: 0;
}

.opacity_1 {
  opacity: 1;
}