span.noData {
  // background: var(--c-light);
  // background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--c-light) 18%, var(--c-light) 84%, rgba(0,0,0,0) 100%);
  color: var(--c-txt-sub);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .7;
  padding-block: 1rem;

  p {
    color: var(--c-txt-rev);
  }

  svg{
    margin-right: 1rem;
  }
}