.wrapper{
  background-color: var(--c-light);
  // background: linear-gradient(to right, var(--c-light), #000000, var(--c-light));
  background-size: 200% 200%; 
  background-position: 0 0;
  padding-inline: 1rem;
  margin: 1rem 0;
  width: 100%;
  border-radius: var(--br-soft);
  display: flex;

  opacity: .3;
  animation: animGradient 1s ease-in-out infinite alternate;

  @keyframes animGradient { 
    0%{
      // background-position: 0 0;
      opacity: .3;
      // transform: translateX(0);
    }
    100%{
      // background-position: 100% 0%;
      opacity: .1;
      // transform: translateX(100px);
    }
    // 100%{
    //   background-position: 0% 50%;
    // }
  }
}
