.bubbleWrap {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(-206deg, #835EFF 0%, #FF008D 100%);
}

.bubbleCanvas {
  width: 100%;
  height: 100%;
}

.thefold{
  position: relative;
}

.canvasBG{
  position: absolute;
  top: 0;
  left: 0;
}