button.addtocart{
  
  &:hover, &:focus{
    border: solid 1px var(--c-secondary);
    color: var(--c-secondary);
  }

  &:active{
    background-color: var(--c-accent);
  }

  // span.state{
    
  // }
}