article.article :global {
	margin-inline: auto;

	header {
		/* background: var(--c-accent); */
		position: relative;
		min-height: 50vh;
		min-height: 50dvh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		display: flex;
		margin-bottom: 3rem;
		/* outline: dotted aqua 1px; */
		/* display: flex; */
		/* background-blend-mode: overlay; */

		img {
			object-fit: cover;
			/* outline: dotted lavender 2px; */
			width: 100%;
			position: absolute;
			z-index: -1;
			width: 1px;
			height: 1px;
		}

		.overlay {
			/* background-color: rgb(155 255 0 / 52%); */
			/* background: rgba(242, 242, 242, 0.82); */
			// padding: 1rem;
			display: grid;
			overflow: hidden;
			height: 100%;
			z-index: 2;
			background: var(--c-glass);
			// background-color: var(--c-primary);
			// display: flex;
			// margin-inline: auto;
		}

		h1 {
			margin-bottom: 0;
		}

		ul.meta {
			padding: 0;
			font-size: 1rem;
			list-style: none;
		}

		time.date {
			position: relative;
		}
	}

	.featured_video {
		margin: 1rem;
	}

	.content {
		max-width: 110ch;
		margin-inline: auto;
	}

	footer {
		margin-top: 4rem;
		max-width: 110ch;
		// padding: 1rem;
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;

		> div {
			max-width: 15rem;
		}
	}
}

.title_wrap {
	display: grid;
	align-content: center;
	// padding: 2rem;
	// margin: 1rem 0;
	// margin-top: auto;
	border-radius: var(--br-dull);
	bottom: 0;
	z-index: 1;
	// max-width: var(--w-contentmax);
	width: clamp(
		32vw,
		83vw,
		calc(var(--w-contentmax) + var(--space-xl))
	) !important;

	backdrop-filter: blur(10px);

	h1 {
		margin-bottom: 0;
	}
}

.breadcrumbs_wrap {
	padding: 1rem;
}
// .title_wrap::after{
//   background-color: var(--c-glass);
//   content: '';
//   backdrop-filter: blur(10px);
//   /* filter: blur(10px); */
//   position: absolute;
//   inset: 0%;
//   z-index: -1;
// }

.post_article {
	// border: dashed lime 1px;
	footer {
		margin-top: var(--space-l);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--space-m);
	}
}

header.post_header {
	position: relative;
	padding-top: 10vh;
	background-attachment: fixed;

	&::after {
		content: ""; // ::before and ::after both require content
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			0deg,
			var(--c-body) 0%,
			color-mix(in hsl, hsla(0, 0%, 57%, 0.648), var(--c-txt-bg) 80%) 100%
		);
    backdrop-filter: blur(5px);
		// filter: contrast(0.1) opacity(0.95);
	}
}

.featured_image_wrap {
	display: grid;

	> img {
		width: 100%;
		grid-area: 1/1;
	}
	:first-child {
		object-fit: cover;
		filter: blur(87px) contrast(0.1);
		opacity: 0.4;
	}
	:last-child {
		object-fit: contain;
		z-index: 1;
	}
}

.page_content {
	// border: dashed white 3px;
	margin-top: var(--space-xl);
	padding-inline: var(--space-m);
}

.post_title {
	grid-column: layout-wide;
}