.error {
  background-color: red;
  color: white;
  padding-inline: 5px;
  width: fit-content;
}

.success {
  background-color: green;
  color: white;
  padding-inline: 5px;
  width: fit-content;
}

hr {
  border-color: var(--c-desaturated);
}