
.slide1 h3{
  font-size: 3rem;

  /* padding: 1.5em 0; */
}
.slide2 h3{
  font-size: 2rem;

  /* padding: 1.5em 0; */
}

.slide4 img{
  width: 28rem;
}




.btn{
  margin: 2em 0;
  padding: .5em 2em;
  background-color: var(--c-3);
  border: solid white 3px;
  border-radius: var(--br-dull);
  max-width: 15em;
}

.awards{
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 2em; */
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-width: 30em;
}

.awards img{
  width: 12rem;
  transition: all .3s;
}
.awards img:hover, .awards img:focus{
  transform: scale(1.1);
} 