ul.events {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  display: grid;
  gap: 1rem;
}

article.event :global{
  display: flex;
  flex-wrap: wrap;
  border: solid 1px var(--c-desaturated);
  padding: 1em;
  transition: border .2s ease-in;
  color: var(--c-txt);

  h4{
    margin: 0;
  }

  img{
    width: 5em;
    height: auto;
  }

  time.date-short{
    padding: 0 1em;
    width: 1em;
    display: inline-table;
  }

  a.details{
    color: var(--c-txt);
    text-decoration: none;

    &:hover{
      text-decoration: revert;
    }    
  }

  a.button{
    margin-left: auto;
  }

  // a.view{
  //   background-color: transparent;
  // }

  svg{
    margin-right: .2em;
  }

  .actions-cont {
    margin-left: auto;
  }

  
  address{
    overflow:hidden;
    width: 100%; //can also use calc function as per Yudi's answer
    display: inline-block;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
article.event:hover, article.event:focus{
  border-left: solid 4px var(--c-accent);
}

.content {
  h1 {
    margin-top: 0;
  }
}