ul.tickets :global {
  padding: 0;

  li{
    border: solid 1px var(--c-primary);
    margin-bottom: .2em;
    border-radius: var(--br-dull);
    padding: .5em;

    display: flex;

    .qrbutton{
      margin-left: auto;

      display: grid;
      align-content: center;

    }
  }
}