.answer_reveal {
  border: solid black 1px;
  padding: 1em;
  margin: 1em 0;

  h4{
    margin-bottom: 0;
  }

}

.collapsed{
  max-height: 0;
  background-color: #05052d;
}

.expanded{
  background-color: white;
  max-height: 10em;
}

.answer{
  border: solid 1px black;
  border-radius: 5px;

  font-size: 16px;
  line-height: 38px;
  padding: 0.3em;
  overflow-y: hidden;
  transition: all 1s ease-in-out;
}