.callout {
  grid-column: layout_breakout;
  // padding: 0 8px;
  border-left: 6px solid;
  border-radius: 4px;
  margin: 8px 0;
  display: grid;
  // grid-template-columns: 48px 1fr;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
  width: auto;
  padding: 1rem;
  background-color: var(--c-txt-bg);

  &.info{
    // background-color: #2c4d79;
    border-color: #6898d5;
    
    i::after {
      color: #6898d5;
      content: '\24D8';
    }
  }

  &.success{
    // background-color: #365241;
    border-color: #31bb66;
    
    i::after {
      color: #31bb66;
      content: '\2713';
    }
  }

  &.error{
    // background-color: #534040;
    border-color: #bf2121;
    
    i::after {
      color: #bf2121;
      content: '\2717';
    }
  }
  
  &.warning{
    // background-color: #653c0e;
    border-color: #d78629;
    
    i::after {
      color: #d78629;
      content: '\26A0';
    }
  }
}


.icon {
  display: grid;
  align-content: center;
  // margin-right: 1rem;
  
  &::after{
    font-size: .5rem;
  }
}

.icon::after {
  font-size: 2rem;
  font-style: normal;
}

.content {
  flex: 1;
}