.gallery {
	width: 100%;

	// display: flex;
	// flex-wrap: wrap;
	// justify-content: center;
	// gap: 10px;

	// img.objectContain{
	//   object-fit: contain;
	// }
	// img.objectCover{
	//   object-fit: cover;
	// }
  img {
    // border: dashed hotpink 2px;
    width: 100%;
    height: 100%;
  
    transition: opacity, transform, 0.3s ease-out;
  
    &:hover {
      opacity: 0.8;
      transform: scale(1.02);
    }
  }
}

.masonry {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: masonry;
	// a {
	// 	width: calc(33.33% - 10px); // Adjust column width and gap as needed
	// 	margin-bottom: 10px;
	// }
}

// a {
// 	overflow: hidden;
// }


.grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(1, 1fr);

	// > a {
	//   width: calc(25% - 10px); // Adjust column width and gap as needed
	//   // margin-bottom: 10px;
	// }
}

.gap_1 {
	gap: 0.1rem;
}
.gap_2 {
	gap: 0.3rem;
}
.gap_3 {
	gap: 0.5rem;
}
.gap_4 {
	gap: 1rem;
}
.gap_5 {
	gap: 2rem;
}

@media screen and (width > 600px) {
	.col_1 {
		grid-template-columns: repeat(1, 1fr);
	}
	.col_2 {
		grid-template-columns: repeat(2, 1fr);
	}
	.col_3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.col_4 {
		grid-template-columns: repeat(4, 1fr);
	}
	.col_5 {
		grid-template-columns: repeat(5, 1fr);
	}
}
