ul.cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding-inline: 0;
  list-style: none;

  li{
    min-width: 16rem;
    flex: 1 1;
  }
}

article.carditem{
  // padding: 1rem;
  // padding-bottom: 1em;
  border: solid 1px var(--c-desaturated);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .3s;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }

  header{
    padding: 0;
    padding-inline: var(--space);

  }

  h3{
    // padding: 0 1rem;
    margin: 0;
    margin-top: 1rem;
    font-size: clamp(1rem * (var(--font-size-multi) * 1), 1rem + 5.246vw, 1rem * (var(--font-size-multi) * 2));
  }

  figure{
    background-position: 50% 50%;
    background-size: cover;
    min-height: 250px;
    background-size: cover;
    margin: 0;
    transition: all .3s;
  }

  // .content{
  //   padding: 0 1rem 1rem 1rem;
  //   flex: 1;
  // }

  // a.button{
  //   margin: 0 auto;
  //   margin-top: auto;
  //   max-width: 10rem;
  //   padding: 0 2rem;
  //   text-align: center;
  // }

  // &:hover{
  //   border: solid 1px var(--c-accent) ;
  //   border-radius: var(--br-dull);

  //   h3{
  //     color: var(--c-accent);
  //   }
  //   figure{
  //     background-position: 20% 80%;
  //   }
  // }
}

article.vAlign_start {
  align-content: start;
}
article.vAlign_center {
  align-content: center;
}
article.vAlign_end {
  align-content: end;
}

.content_wrap {
  display: flex;
  flex-direction: column;
  // padding: 1rem;
  height: 100%;
  display: grid;
  gap: 1rem;
  padding: var(--space);

  > a {
    margin-top: auto;
  }

  > p, ul, ol {
    margin: 0;
  }
}

article.infocard :global {
  border-radius: 1em;
  // margin: 1em auto;
  // background: var(--c-desaturated);
  // padding-inline: 1rem;
  height: 100%;
  margin-inline: auto;

  // max-width: 25em;
  position: relative;

  display: grid;

  h4:first-child {
    margin-top: 1rem;
  }
  
  h4{
    // color: var(--c-txt);
    // font-size: 1rem;
    // text-align: center;
    // text-shadow: 4px 2px 20px rgba(255 255 255 /35% );
    overflow:hidden;
    width: 100%; //can also use calc function as per Yudi's answer
    display: inline-block;
    text-overflow:ellipsis;
    white-space:nowrap;
    
  }

  a.button{
    /* box-shadow: #9c9c9c -4px 3px 9px 3px; */
    border: solid 1px var(--c-desaturated);
    margin-top: auto;
    /* align-self: flex-start; */
  }

  // div:last-child, a:last-child {
  //   margin-bottom: 0.5rem;
  // }

  

  // @media (max-width: 500px){
  //   padding: 1em 0;
  // }
}

// .infocard::before, .infocard::after{
//   content: '';
//   position: absolute;
//   border-radius: inherit;
// }

// .infocard::before{
//   inset: 0.75rem;
//   background: #343434;
//   transform: translateZ(-49px);
//   filter: blur(5px);
//   opacity: .7;
// }

// .infocard::after{
//   inset: -1rem;
//   // background-color: ${p => p.color};
//   // background-image: ${p => (p.imageSrc ? `url(${p.imageSrc})` : '')};
//   background-position: center;
//   background-size: cover;
//   transform: translateZ(-50px);
//   // box-shadow: #00000070 7px 9px 16px 7px;
// }