.status {
  background-color: var(--c-txt-bg);
  border-radius: var(--br-dull);
  padding: .5rem 1rem;
  border-style: solid;
  border-width: 1px;
  border-left-width: 10px;
  display: grid;
  align-content: center;
  width: fit-content;
}

.ACTIVE, .TRIAL, .DOWNPAYMENT, .CONFIRMED, .STARTED {
  border-color: rgb(0, 132, 255);
}

.SUSPENDED, .PAUSED, .POSTPONED, .HOLD, .PENDING, .PAYMENT_PENDING {
  border-color: rgb(224, 224, 47);
}

.EXPIRED, .DELINQUENT, .REJECTED, .CANCELLED {
  border-color: rgb(148, 3, 7);
}

.CANCELED, .LEAD, .PAST, .ATTENDED, .DELIVERED, .FULFILLED {
  border-color: rgb(107, 130, 141);
}

.PAID, .PAYMENT_RECIEVED, .PROCESSING, .SHIPPED, .REFUNDED, .RETURNED{
  border-color: rgb(89, 201, 110);
}
