.youtubeVideo {
  display: grid;
  grid-template-columns: minmax(auto, 960px);
  align-items: center;
  justify-content: center;
  // margin-bottom: 2rem;
}

.iframePosition {
  overflow: hidden;
  // padding-bottom: 56.25%;
  position: relative;
  line-height: 0;

  > iframe {
    border: none;
  }
}

.iframePosition video {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}