.grid_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  form {
    width: 100%;
  }

  aside {
    position: sticky;
    height: fit-content;
    top: 5rem;
  }
}

@keyframes loading {

  from {
    background-position: 0 0;
    /* rotate: 0; */
  }

  to {
    background-position: 100% 100%;
    /* rotate: 360deg; */
  }
}

.form :global {
  display: grid;
  gap: 3rem;
  max-width: 20em;
  // width: 100%;
  padding: 1rem;
  border-radius: var(--br-soft);
  box-shadow: var(--boxs-1);
  background: var(--c-txt-bg);

  label {
    display: grid;
    gap: .2rem;
  }
  span.label{
    font-weight: lighter;
    font-size: .8rem;
  }

  legend{
    margin-top: 2.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--c-txt-sub);
  }

  input,
  textarea,
  select {
    
    padding: 0.5rem;
    font-size: .7rem;
    border: 1px solid black;
    &:focus {
      outline: 0;
      border-color: var(--c-accent);
    }

    border-radius: var(--br-sharp);
    // border: solid var(--c-primary) 1px;
  }

  label.checkbox{
    display: flex;
    flex-wrap: wrap;
  }
  
  // input[type=checkbox] {
  //   background: red;
  //   font-size: 4rem;
  // }

  button[type='submit'] {
    max-width: fit-content;
    // background: var(--c-primary);
    border-radius: var(--br-sharp);
    color: var(--c-primary);
    border: solid 2px var(--c-primary);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
    transition: all .3s;

    &:hover, &:focus{
      border: solid 2px var(--c-accent);
      color: var(--c-accent);
    }
  }

  fieldset {
    border: 0;
    padding: 0;
    display: grid;
    gap: 1rem;

    &[disabled] {
      opacity: 0.5;
    }
    &::before {
      height: 5px;
      content: '';
      display: block;
      background-image: linear-gradient(
        to right,
        var(--c-desaturated) 0%,
        var(--c-light) 70%,
        var(--c-desaturated) 100%
      );
      margin-bottom: 1em;
    }
    &[aria-busy='true']::before {
      background-size: 50% auto;
      animation: loading 0.5s linear infinite;
    }

    &.radio-cont{
      display: flex;
      flex-direction: column;

      input[type='radio']{
        width: inherit;
      }
    }
  }

  button.forgot-password{
    background-color: transparent;
    font-size: .7rem;
    border: none;

    &:hover, &:focus{
      border: none;
    }
  }

  

  textarea{
    min-height: 10em;
  }

  .hidden{
    visibility: hidden;
    height: 0;
    display: none;
  }

  .error, .success {

    &:empty{
      display: none;
    }
  }
}

.addons_wrap{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hidden {
  visibility: hidden;
}

.success_message {
  border: solid 3px var(--c-primary);
  border-radius: var(--br-soft);
  padding: 1rem;
  position: relative;

  h2 {
    margin-top: 0;
  }

  a {
    display: inline-block;
    padding: 1rem 0;
  }

  &::before {
    content: "";
    position: absolute;
    // width: 20px;
    // height: 20px;
    border-bottom: 30px solid var(--c-primary);
    border-left: 20px solid transparent;
    // border-top: 30px solid;
    // border-left: 30px solid;
    // border-color: var(--c-primary);
    bottom: 0;
    right: 0;
    transform: rotate(0deg);
  }
}

// .formtwo :global{

//   box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
//   /* background-color: rgba(var(--c-cont-light), 0.6); */
//   backdrop-filter: blur(3px) contrast(70%);
//   border-radius: 1em;
//   /* border: 5px solid white; */
//   padding: 1em;
//   /* font-size: 1rem; */
//   line-height: 1.5;
//   font-weight: 600;
//   /* min-width: 25em; */
//   // max-width: 30em;
//   position: relative;
//   min-width: 20em;


//   label {
//     display: block;
//     // margin-bottom: 1rem;
//   }
//   span.label{
//     font-weight: lighter;
//     font-size: .8rem;
//   }
  
//   input,
//   textarea,
//   select {
//     width: 100%;
//     padding: 0.5rem;
//     font-size: .7rem;
//     border: 1px solid black;
//     &:focus {
//       outline: 0;
//       border-color: var(--c-accent);
//     }

//     border-radius: 3px;
//     border: solid var(--c-primary) 1px;
//     box-shadow: #0000002b 2px 2px 8px;
//   }
//   button,
//   input[type='submit'] {
//     width: auto;
//     background: var(--c-primary);
//     border-radius: var(--br-sharp);
//     color: white;
//     border: solid 2px transparent;
//     font-size: 1rem;
//     font-weight: 600;
//     padding: 0.5rem 1.2rem;
//     transition: all .3s;

//     &:hover, &:focus{
//       background-color: var(--c-accent);
//       border: solid 2px var(--c-primary);
//       color: var(--c-primary);
//     }
//   }
//   fieldset {
//     border: 0;
//     padding: 0;

//     &[disabled] {
//       opacity: 0.5;
//     }
//     &::before {
//       height: 5px;
//       content: '';
//       display: block;
//       background-image: linear-gradient(
//         to right,
//         var(--c-desaturated) 0%,
//         var(--c-light) 70%,
//         var(--c-desaturated) 100%
//       );
//       margin-bottom: 1em;
//     }
//     &[aria-busy='true']::before {
//       background-size: 50% auto;
//       animation: loading 0.5s linear infinite;
//     }

//     &.radio-cont{
//       display: flex;
//       flex-direction: column;

//       input[type='radio']{
//         width: inherit;
//       }
//     }
//   }

//   button.forgot-password{
//     background-color: transparent;
//     font-size: .7rem;
//     border: none;

//     &:hover, &:focus{
//       border: none;
//     }
//   }

  

//   textarea{
//     min-height: 10em;
//   }

//   .hidden{
//     visibility: hidden;
//     height: 0;
//     display: none;
//   }

//   .error{
//     background-color: red;
//     padding: 0 1rem;
//   }
// }