.pagination{
  margin-inline: auto;
  margin-bottom: var(--space-m);

  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.count_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: .7rem;
}